html{
    height: 100%;
}
body{
    /* height: 100%; */
    width: 100%;
    background-color: rgb(250, 250, 250);
    margin: 0px;
    padding: 0px;
}
.card{
    max-width: 400px;
    margin: auto;
    margin-top: 10rem;
}

