
.register-card{
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 6rem;
}
.helptext{
    font-size: 0.8rem;
    color: gray;
    display: block;
    margin-top: .5rem;
}
.helptext ul{
    margin-top: .5rem;
}
.helptext ul>li{
    font-size: 0.8rem;
}
li {
    
    color: gray;
    /* display: block; */
    /* margin-top: .5rem; */
}
button[type="submit"]{
    width: 100%;
}