{% extends 'accounts/base-profile.html' %}
{% load static %}
{% block title %}Facebook{% endblock title %}
{% block sidebar %}
{% include 'main/sidebar.html' with active='facebook' %}
{% endblock sidebar %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/facebook-profile-style.css' %}">
{% endblock styles %}
{% block content %}
{% comment %} {% block name %}Facebook: {% if profile.facebook_user_name %} {{ profile.facebook_user_name }} {% endif %}{% endblock name %} {% endcomment %}
<br><br><br>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Facebook</h1>
        {% if pages %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <h1 class="h5">
                <select name="page_id" class='form-select select' onchange='window.location.href=this.value;'>
                    {% for page in pages %}
                        <option class='form-option' value=" {{ page.id }} " {% if page_id == page.id %}selected{% endif %}>
                        <div><img src="{{ page.pic_url }}" alt="Profile Picture"></div>
                        {{ page.name }}
                        </option>
                    {% endfor %}
                </select>   
            </h1>
        </div>
        {% endif %}
      </div>

        <div class="container profile">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card shadow-sm page">
                <div class="card-body">
                    <div class="pic shadow">
                        <img src="{{ page.pic_url }}" alt="Profile Picture">
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div><h1 class="h5"><b>{{ page.name }}</b></h1></div>
                            <div class='lead'>Facebook Page</div>
                        </div>
                        <div class="col-md-4 text-end">
                            {% comment %} <a role='btn' href=" {% url 'accounts:add-post' %} " class="btn btn-primary addPost">Create Post</a> {% endcomment %}
                            <a role='btn' href="  " class="btn btn-primary addPost">Create Post</a>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="container"> {% endcomment %}
                <div class='recent'>Recent Posts</div>
                            {% for post in posts %}
                                {% comment %} <div class="row"> {% endcomment %}
                                    <div class="card post">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-sm-3">
                                                    {% comment %} <a href="{% url 'accounts:response' post.id %}" style='text-decoration: none; color: black'> {% endcomment %}
                                                    <a href="" style='text-decoration: none; color: black'>
                                                        {% if post.full_picture %}
                                                            <img src=" {{ post.full_picture }} " alt="full picture" class='with-pic'>
                                                        {% else %}
                                                            <div class='non-pic'>Aa</div>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="col-sm-8 gy-2">
                                                    <div style='max-width: inherit;' class='table-data'>
                                                        {% comment %} <a href=" {% url 'accounts:response' post.id %} " class=''> {% endcomment %}
                                                        <a href="  " class=''>
                                                            <div style="height:100%;width:100%;">
                                                                {{ post.message|linebreaksbr }}
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class='form-text'>
                                                        {{ post.created_time }}
                                                    </div>
                                                    <div>
                                                        <a href="{{ post.permalink_url }}" target='blank'>Show post on Facebook</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% comment %} </div> {% endcomment %}
                            {% endfor %}
            {% comment %} </div> {% endcomment %}
            <div class="card shadow-sm">
                {% comment %} <div class="card m-3"> {% endcomment %}
                    <div class="card-body ">
                <div class="card-title recent">
                </div>
                        <div class="card-body">
                            
                            {% comment %} {% for page in pages %}
                                <div class="card">
                                    <div class="card-body">
                                        <div>{{ page.page_name }}</div>
                                        <a href=" {% url 'accounts:posts' page.page_id %} ">Show posts</a>
                                    </div>
                                </div>
                            {% endfor %} {% endcomment %}
                        </div>
                        <a href="https://graph.facebook.com/oauth/authorize?client_id=482847369816069&redirect_uri=https://mhddaghestani.pythonanywhere.com/accounts/facebook-login/&scope=email,pages_manage_metadata,pages_manage_posts,pages_read_engagement,pages_read_user_content,pages_show_list,public_profile,pages_manage_engagement,pages_messaging">Add Facebook account</a>
                    </div>
                {% comment %} </div> {% endcomment %}
            </div>
        </div>
        <script src=" {% static 'main/js/facebook-dashboard.js' %} "></script>
{% endblock content %}