.border-left-blue{
  border-left: 3px solid #0d6efd;
}
.border-left-green{
  border-left: 3px solid #2abba7;
}
.border-left-red{
  border-left: 3px solid #dc3545;
}
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.card{
  border-radius: 8px;
}
.select{
  width: 20rem;
  margin-bottom: 0;
}
.pic{
  /* position:absolute; */
  /* top: .5rem; */
  /* left: 2.5rem; */
  width: fit-content;
  border: 5px whitesmoke solid;
  border-radius: 5rem;
}
.pic img{
  /* position:absolute;
  top: -1rem;
  left: 3rem; */
  width: 80px;
  border-radius: 5rem;
}