.page{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
    /* padding-top: 3rem; */
}
/* .lead{
    margin-top: -1;
    padding-top: 0;
} */
.pic{
    position:absolute;
    top: -1.4rem;
    left: 2.5rem;
    /* width: 90px; */
    border: 5px whitesmoke solid;
    border-radius: 5rem;
}
.pic img{
    /* position:absolute;
    top: -1rem;
    left: 3rem; */
    width: 80px;
    border-radius: 5rem;
}

.addPost{
    margin-top: 1rem;
}
.h5{
    margin-bottom: 0;
}
.table-data{
    max-width:40rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0.4rem;
    max-height: 3.6em;
    line-height: 1.8em;
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.table-data a{
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.recent{
    /* padding-top: 1rem; */
    padding-left: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.post{
    margin-bottom: 0.5rem;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 255, .1);
}
.non-pic{
    background-color: rgb(236, 236, 236);
    /* height: 5rem; */
    width: 5rem;
    text-align: center;
    /* align-items: center; */
    padding: 1.2rem 0;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.with-pic{
    /* height: 5rem;  */
    width: 5rem;
    border-radius: 1rem;

}
.post:hover{
    background-color: rgb(240, 240, 240);
}