@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html,
body{
    height: 100%;
    /* display: block; */
    /* margin: 0px; */
    /* padding: 0px; */
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
.page-header{
    font-size: 1.25rem;
    color: white;
    margin-top: 3.5rem;
}
.gradient{
    background: #d72146;
    background: linear-gradient(30deg, rgba(215,33,70,1) 0%, rgba(121,9,90,1) 45%, rgba(0,212,255,1) 100%);
}
.section{
    color: white;
}